<%= render "layouts/header" %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <h1> Catálogo JukiMods </h1>
    
    <% @productos.each do |producto| %>
        <% if producto.activo %>
            <h1>Juki <%= producto.nombre %></h1>
            <p>
            <%= producto.descripcion %>
            </p>
            
            <p>
            <strong>Precio: </strong>
            <%= producto.precio %>€
            </p>
        <% else %>
            <p> El <% @roducto.nombre %> no se encuentra a la venta ahora mismo.</p>
        <% end %>
    <% end %>
    <br><br>
    <%= link_to 'Añadir producto', new_producto_path %>
</div>
<%= render "layouts/footer" %>